@import "fonts.less";
@import "variables.less";
@import "mixins.less";

body {
	background: url(../images/site/bg.jpg);
	color: @main-color;
	font: normal 16px/16px @font-OpenSans;
}

button {
	.border-radius();
	.transition();
	background: none;
	border: 1px solid @btn-dark;
	color: @btn-dark;
	cursor: pointer;
	font: normal 1em @font-OpenSans;
	margin: 0;
	outline: none;
	padding: 4px 8px;
	white-space: nowrap;
	&::before,
	&::after {
		.transition();
		color: @main-color;
		font: normal 1em @font-FontAwesome;
	}
	&::before {
		margin-right: 5px;
	}
	&::after {
		margin-left: 5px;
	}
	&:hover {
		background: @btn-dark;
		color: @white;
		&::before,
		&::after {
			color: @white;
		}
	}
	&.btn-success {
		background: @btn-green;
		border-color: @btn-green;
		color: @white;
		&:hover {
			background: @btn-green-hover;
			border-color: @btn-green-hover;
		}
	}
	&.btn-error {
		background: @btn-red;
		border-color: @btn-red;
		color: @white;
		&:hover {
			background: @btn-red-hover;
			border-color: @btn-red-hover;
		}
	}
}

input {
	/* TODO outline-color based on validation result */
	outline-color: @active-color;
}

header {
	background: @white;
	border-bottom: 1px solid @border-header;
	font-size: 1.1em;
	padding: 10px 0;
	.header-inner {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin: 0 auto;
		max-width: 1024px;
		padding: 0 30px;
		width: 100%;
		.logo {
			display: inline-flex;
			margin-right: auto;
		}
		.nav {
			display: flex;
			text-transform: uppercase;
			li {
				.border-radius(5px);
				.transition();
				cursor: pointer;
				margin: 0 10px;
				padding: 10px;
				a {
					.transition();
					color: @main-color;
					text-decoration: none;
				}
				&:hover,
				&.active {
					background: @nav-hover;
					color: @white;
					a {
						color: @white;
					}
				}
			}
		}
		.auth {
			align-items: center;
			display: flex;
			margin-left: 50px;
			position: relative;
		}
	}
}

#signin-btn {
	margin-right: 15px;
	&::before {
		content: '\f090';
		margin-right: 5px;
	}
}

#signup-btn {
	border-color: @btn-green;
	color: @btn-green;
	margin-left: 15px;
	&::before {
		color: @btn-green;
		content: '\f234';
		margin-right: 5px;
	}
	&:hover {
		background: @btn-green;
		color: @white;
		&::before {
			color: @white;
		}
	}
}

#signout-btn {
	margin-left: 20px;
	&::after {
		content: '\f08b';
	}
}

.popup {
	.border-radius();
	.transition();
	background: @white;
	border: 1px solid @border-popup;
	box-shadow: 0 3px 10px -1px @shadow-popup;
	box-shadow: 0 3px 10px -1px @shadow-popup-rgba;
	box-sizing: border-box;
	opacity: 0;
	padding: 20px;
	position: absolute;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&.centered {
		left: 50%;
		transform: translateX(-50%);
	}
	&.notification {
		font: normal 1.2em/1 @font-OpenSans;
		text-align: center;
		.h {
			display: block;
			font: normal 1.8em/1 @font-OpenSans;
		}
		.message {
			margin: 20px 0;
		}
		button {
			text-transform: uppercase;
			width: 100%;
		}
	}
	form {
		input {
			.border-radius();
			background: @white;
			border: 1px solid @border-input;
			box-sizing: border-box;
			display: block;
			font: normal .875em @font-OpenSans;
			margin-bottom: 20px;
			padding: 5px 10px;
			width: 100%;
		}
		button {
			display: block;
			margin: 0 auto;
		}
	}
	&.user {
		top: ~'calc(100% + 100px)';
		width: 100%;
		&.active {
			top: ~'calc(100% + 50px)';
		}
	}
}