/* Fonts */
@font-OpenSans: OpenSans, sans-serif;
@font-FontAwesome: FontAwesome;

/* Colors */
@active-color: #0083cd;
@border-header: #e1e1e1;
@btn-darkgreen: desaturate(lighten(@btn-green, 1%), 5%);
@btn-green: #54ad2e;
@btn-lightgreen: saturate(lighten(@btn-green, 22%), 4%);
@main-color: #333;
@nav-hover: fadeout(@active-color, 50%);
@white: #fff;